@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.4s;
  background-color: var(--white-light-1);
  max-height: 7rem;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  //   justify-content: space-between;
  .logo-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    .logo {
      font-size: 4rem;
      font-family: 'Water Brush', cursive;
      color: var(--primary-color);
      background: linear-gradient(
        150deg,
        #000048,
        #041962,
        #093d7a,
        #11698f,
        #1b99a3,
        #26b59e,
        #34c48c,
        #50c67d
      );
      background-clip: text;
      color: transparent;
    }
    .icon-logo {
      font-size: 3rem;
      opacity: 0.7;
      margin-right: 1rem;
    }
    .menu {
      display: none;
      background-color: transparent;
      border: none;
      cursor: pointer;
      svg {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
  }
  .nav-links {
    flex: 1;
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      li {
        list-style: none;
        cursor: pointer;
        font-size: 2rem;
        padding: 1rem 2rem;
        transition: all 0.4s;
        &:not(:last-child) {
          margin-right: 1rem;
        }
        &:hover {
          a {
            color: var(--primary-color);
            position: relative;
            &::after {
              display: block;
              content: '';
              position: absolute;
              bottom: -0.5rem;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: var(--primary-color);
            }
          }
        }
        a {
          text-decoration: none;
          color: var(--dark-dim);
          font-weight: bold;
        }
      }
    }
  }
  .close {
    display: none;
    position: absolute;
    bottom: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    svg {
      width: 3.5rem;
      height: 3.5rem;
      color: var(--primary-color);
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
    }
  }
  .social-icons ul {
    display: flex;
    li {
      font-size: 2.6rem;
      padding: 1rem;
      a {
        .icon {
          //   font-size: 2rem;
          &-linkedIn {
            color: #0e76a8;
          }
          &-whatsApp {
            color: #25d366;
          }
          &-gmail {
            color: #bb001b;
          }
          &-github {
            color: #000;
          }
        }
      }
    }
  }
}
.shadow {
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
}
.hide-header {
  transform: translateY(-7rem);
  @include media-breakpoint-down(sm) {
    transform: translateY(0);
  }
}

@include media-breakpoint-down(sm) {
  .header {
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    padding: 2rem 0;
    .logo-box {
      .menu {
        display: block;
      }
    }
    .nav-links {
      width: 100%;
      margin-top: 3rem;
      ul {
        width: 100%;
        align-items: center;
        li {
          @include media-breakpoint-down(sm) {
            flex: 1;
            padding: 0;
            &:not(:last-child) {
              margin-right: 0;
            }
          }
        }
        @include media-breakpoint-down(sm) {
          flex-direction: column;
        }
      }
    }
    .close {
      display: block;
    }
  }
  .mobile-header-collapsed {
    max-height: 7rem;
    padding-top: 1rem;
    .logo-box {
      width: 100%;
      justify-content: space-around;
    }
    .nav-links {
      display: none;
    }
  }
}
