@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.4s;
  background-color: var(--bg-color);
  min-height: 7rem;
  max-height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .logo-box-container {
    display: flex;
    align-items: center;
    .menu {
      display: none;
      background-color: transparent;
      border: none;
      cursor: pointer;
      svg {
        width: 3.5rem;
        height: 3.5rem;
        color: var(--primary-color);
      }
    }
  }
  .nav-links {
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        list-style: none;
        cursor: pointer;
        font-size: 2rem;
        padding: 0.8rem 1.2rem;
        transition: all 0.4s;
        &:not(:last-child) {
          margin-right: 1rem;
        }
        &:hover {
          a {
            color: var(--primary-color);
            position: relative;
            &::after {
              display: block;
              content: '';
              position: absolute;
              bottom: -0.5rem;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: var(--secondary-color);
            }
          }
        }
        a {
          text-decoration: none;
          color: var(--white-shade-2);
          font-weight: bold;
        }
      }
    }
  }
  .close {
    display: none;
    position: absolute;
    bottom: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    border-radius: 10rem;
    background-color: var(--blue-color-dark);
    svg {
      width: 3.5rem;
      height: 3.5rem;
      color: var(--primary-color);
    }
    &:hover {
      background-color: var(--dark-dim);
      filter: drop-shadow(0 0 1.5rem #3dd875);
      svg {
        color: var(--tertiary-color);
      }
    }
  }
  .social-icons ul {
    display: flex;
    li {
      font-size: 2.6rem;
      padding: 1rem;
      a {
        .icon {
          &-linkedIn {
            color: #0e76a8;
          }
          &-whatsApp {
            color: #25d366;
          }
          &-gmail {
            color: #bb001b;
          }
          &-github {
            color: #000;
          }
        }
      }
    }
  }
}
.shadow {
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
}
.hide-header {
  transform: translateY(-7rem);
  @include media-breakpoint-down(sm) {
    transform: translateY(0);
  }
}

@include media-breakpoint-down(sm) {
  // will be added on header collapsed
  .mobile-header-collapsed {
    .logo-box-container {
      width: 100%;
      justify-content: space-between;
      margin: 0 3rem;
      .menu {
        display: block;
      }
    }
    .nav-links {
      display: none;
    }
  }

  // will be added on header opened
  .mobile-header-opened {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 70%;
    border-bottom-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
    background-color: var(--black-shade-1);
    .logo-box-container {
      margin-top: 1rem;
      .icon-logo {
        font-size: 4rem;
        margin-right: 2rem;
        color: var(--white-shade-1);
      }
      .logo {
        font-size: 3rem;
      }
    }
    .nav-links {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      ul {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 90%;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        li {
          flex: 1;
          padding: 0;
          font-size: 2.8rem;
          &:not(:last-child) {
            margin-right: 0;
          }
          a {
            color: var(--white-light-1);
          }
          &:hover a {
            color: var(--tertiary-color);
            &::after {
              background-color: var(--tertiary-color);
            }
          }
        }
      }
    }
    .close {
      display: block;
      svg {
        color: var(--white-shade-2);
      }
    }
  }
}
