@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 15rem;
  min-height: calc(100vh - 7rem);
  .about {
    font-weight: bold;
    .circle {
      width: 10rem;
      height: 10rem;
      border-radius: 10rem;
      margin-bottom: 3rem;
      position: relative;
      .icon-code {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
      }
    }
    .role {
      font-size: 1.2rem;
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      color: var(--primary-color);
      span {
        position: absolute;
        transform-origin: 0 5rem;
      }
      &::before {
        content: '\A';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #4ca456;
        display: inline-block;
      }
    }
    .intro-container {
      color: var(--primary-color);
      display: flex;
      flex-direction: column;
      .name {
        font-size: 7rem;
        padding: 0.7rem 0;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px var(--primary-color);
      }
      .tag {
        font-family: inherit;
        &--1 {
          font-size: 1.8rem;
          line-height: 1.7;
        }
        &--2 {
          font-size: 6rem;
          text-transform: uppercase;
          position: relative;
          .web {
            position: absolute;
            margin-left: 1rem;
            background: linear-gradient(
              150deg,
              #000048,
              #041962,
              #093d7a,
              #11698f,
              #1b99a3,
              #26b59e,
              #34c48c,
              #50c67d
            );
            background-clip: text;
            color: transparent;
          }
        }
        &--3 {
          width: 50%;
          color: var(--dark-dim);
          font-size: 1.8rem;
          line-height: 1.4;
          padding-top: 0.8rem;
          margin-bottom: 2.8rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .banner {
    padding: 1.6rem;
    .about {
      .circle {
        display: none;
      }
      .intro-container {
        .name {
          font-size: 5rem;
        }
        .tag--2 {
          font-size: 4rem;
        }
        .tag--3 {
          width: 100%;
        }
      }
    }
  }
}
