@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 6rem;
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8rem 0 10rem 0;
    z-index: 999;
    .name {
      font-size: 5.6rem;
      text-transform: uppercase;
      background-image: linear-gradient(243deg, #3dd875 23%, #0eb3a0 87%);
      color: transparent;
      -webkit-background-clip: text;
      font-weight: 900;
      margin: 0;
      text-align: center;
    }
    .tag {
      font-family: inherit;
      &--1 {
        font-size: 1.6rem;
        font-weight: 100;
        letter-spacing: 1px;
        color: var(--white);
        font-family: 'Lato', sans-serif;
      }
      &--2 {
        font-size: 4rem;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        color: var(--white-shade-2);
        text-align: center;
        .web {
          background: linear-gradient(
            to right bottom,
            #041962,
            #26b59e,
            #34c48c
          );
          background-clip: text;
          color: transparent;
        }
      }
      &--3 {
        width: 65%;
        margin-top: 1.8rem;
        color: var(--white-shade-2);
        font-size: 1.8rem;
        font-weight: 100;
        text-align: center;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .banner {
    padding: 6rem 2rem;
    .about {
      .name {
        font-size: 5rem;
      }
      .tag--2 {
        font-size: 3.2rem;
      }
      .tag--3 {
        width: 100%;
      }
    }
  }
}
