@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';
@import '../../styles/mixins';

.works {
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black-shade-2);
  .heading {
    @include heading;
  }
  .container {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 0;
    .project {
      display: flex;
      &:nth-child(even) {
        flex-direction: row-reverse;
        .project-card {
          transform: perspective(800px) rotateY(-30deg) scale(0.8) rotateX(0deg);
          // filter: drop-shadow(-7rem -3rem 15rem #646f7c);
        }
      }
      &:nth-child(odd) {
        .project-card {
          transform: perspective(800px) rotateY(30deg) scale(0.8) rotateX(0deg);
          // filter: drop-shadow(7rem -3rem 15rem #646f7c);
          &::before {
            display: block;
            content: '';
            background-image: var(--number-image);
            position: absolute;
            top: -5rem;
            left: -3rem;
            width: 12rem;
            height: 12rem;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
      .project-card {
        display: flex;
        flex: 2;
        list-style: none;
        min-height: 40rem;
        border: 0.01rem solid rgb(32, 34, 46);
        background-image: linear-gradient(
            to right bottom,
            rgba(35, 37, 49, 0.4),
            rgba(15, 15, 24, 0.4)
          ),
          var(--bg-image);
        background-position: center;
        background-size: cover;
        box-shadow: 0 60px 123px -25px hsl(225deg 2% 62% / 42%),
          0 35px 75px -35px hsl(225deg 2% 62% / 8%);
        backdrop-filter: blur(54px);
        border-radius: 7rem;
        transition: all 0.6s;
        &::before {
          display: block;
          content: '';
          background-image: var(--number-image);
          position: absolute;
          top: -5rem;
          right: -3rem;
          width: 12rem;
          height: 12rem;
          background-repeat: no-repeat;
          background-size: contain;
          transition: all 0.6s;
        }
        &:hover {
          transform: perspective(800px) rotateY(0deg) scale(0.9) rotateX(0deg);
          filter: drop-shadow(0rem 0rem 7rem #646f7c);
        }
      }
      .project-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 3rem;
        color: var(--black-shade-3);
        gap: 0.7rem;
        &__name {
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 1px;
          font-size: 2.8rem;
          letter-spacing: 1px;
          color: var(--black-shade-3);
          position: relative;
          &:after {
            position: absolute;
            display: inline-block;
            content: '';
            height: 2px;
            width: 80%;
            left: 10%;
            bottom: 0;
            text-align: center;
            background-color: var(--black-shade-3);
          }
        }
        &__description {
          align-self: flex-start;
          font-size: 1.8rem;
          font-weight: lighter;
          letter-spacing: 1px;
        }
        &__technology {
          align-self: flex-start;
          font-size: 1.4rem;
          font-weight: lighter;
          letter-spacing: 1px;
        }
        &__explore-links {
          display: flex;
          align-self: flex-start;
          align-items: center;
          gap: 0.8rem;
          .icon {
            color: var(--blue-color-light);
            filter: drop-shadow(0 0 1rem #034ab8);
            &-gitHub {
            }
            &-Website {
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .works {
    padding: 1.8rem;
    .container {
      gap: 5rem;
      .project,
      .project:nth-child(odd),
      .project:nth-child(even) {
        flex-direction: column;
        .project-card {
          // transform: perspective(800px) rotateY(0deg) scale(0.8) rotateX(0deg);
        }
        &:not([data-scroll='0']) {
          .project-card {
            box-shadow: 0 1em 12em -3em hsl(225deg 2% 62% / 42%),
              0 35px 75px -35px hsl(225deg 2% 62% / 8%);
          }
          .project-info {
          }
        }
      }
    }
  }
}
