@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--black-shade-1);
  padding: 3rem;
  width: 100%;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .connect-me {
      display: flex;
      font-size: 1.8rem;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        justify-content: center;
        margin: 1rem 2rem;
        padding: 0.5rem;
        a {
          text-decoration: none;
          color: var(--white);
          font-weight: 500;
          transition: all 0.6s ease-in-out;
          &:hover {
            cursor: pointer;
          }
          .linkedin {
            color: var(--linkedin);
            filter: drop-shadow(0 0 1.8rem #fff);
          }
          .whatsapp {
            color: var(--whatsapp);
            filter: drop-shadow(0 0 1.8rem #fff);
          }
          .gmail {
            color: var(--gmail);
            filter: drop-shadow(0 0 1.8rem #fff);
          }
          .github {
            filter: drop-shadow(0 0 1.8rem #fff);
          }
        }
      }
    }
  }
  .copyright {
    color: var(--white-shade-1);
    font-size: 1.4rem;
    font-weight: lighter;
    text-align: center;
  }
}

@include media-breakpoint-down(sm) {
  .footer {
  }
}
