@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.contact {
  padding: 10rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  color: var(--white);
  background-color: var(--black-shade-1);

  .sub-heading {
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
  }
  .heading {
    font-size: 6rem;
    margin-bottom: 1.4rem;
    background-image: linear-gradient(243deg, #3dd875 23%, #0eb3a0 87%);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 900;
  }
  .message {
    font-size: 1.8rem;
    text-align: center;
    width: 80%;
    color: var(--white-shade-2);
  }
}

@include media-breakpoint-down(sm) {
  .contact {
    padding: 1.8rem;
    .message {
      width: 100%;
    }
  }
}
