@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.contact {
  padding: 10rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  .sub-heading {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--primary-color);
    background-clip: text;
    color: transparent;
  }
  .heading {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 1.4rem;
    color: var(--primary-color);
    text-shadow: 1px 1px 1px var(--primary-color);
  }
  .message {
    font-size: 1.8rem;
    width: 75%;
    margin-bottom: 2.8rem;
    text-align: center;
  }
}

@include media-breakpoint-down(sm) {
  .contact {
    padding: 1.8rem;
  }
}
