.container {
  background: linear-gradient(
    to bottom,
    var(--white-light-1),
    var(--white-light-2),
    var(--white-light-3)
  );
  position: relative;

  .main {
    margin-top: 7rem;
    .icon {
      position: absolute;
      bottom: -22.7rem;
      left: -25rem;
      transform: rotate(270deg);
      font-size: 120rem;
      z-index: 10;
    }
  }

  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }
  }
}
