@mixin button-style {
  border: none;
  border-radius: 50rem;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s;
  background: linear-gradient(to right, #034ab8 50%, #0052cc 50%);
  color: var(--white);
  box-shadow: 0 1rem 3rem 0 var(--blue-color-light);
  background-position: right bottom;
  background-size: 200% 100%;
  &:hover {
    background-position: left bottom;
  }
}
