:root {
  --primary-color: #000048;
  --secondary-color: #1d1d48;
  --tertiary-color: #50c67d;
  // --light-blue: #4fb2cd;
  --white: #fff;
  --white-shade-1: #f3f3f3;
  --black: #000;
  --white-light-1: #bdbcbd;
  --white-light-2: #d0cfd0;
  --white-light-3: #e2e1e3;
  --dark-dim: #4e4c51;
  --black-shade-1: #1a1a1a;

  --small: 1.2rem;
  --medium: 1.4rem;
  --default: 1.6rem;
  --large: 1.8rem;
  --extra-large: 1.8rem;
}
