:root {
  // --primary-color: #000048;
  // --secondary-color: #1d1d48;
  --tertiary-color: #50c67d;
  // --light-blue: #4fb2cd;
  --white: #fff;
  // --white-shade-1: #f3f3f3;
  --black: #000;
  --white-light-1: #bdbcbd;
  --white-light-2: #d0cfd0;
  --white-light-3: #e2e1e3;
  --dark-dim: #4e4c51;
  // --black-shade-1: #1a1a1a;

  --small: 1.2rem;
  --medium: 1.4rem;
  --default: 1.6rem;
  --large: 1.8rem;
  --extra-large: 1.8rem;
  // ---------------------------------
  --primary-color: #3dd875;
  --secondary-color: #0eb3a0;

  --bg-color: #0c1117;
  --cream-color: #b5b4b0;
  --white-shade-1: #ccdae7;
  --white-shade-2: #a7b5c4;
  --black-shade-1: #171e25;
  --black-shade-2: #21262d;
  --black-shade-3: #8b8b8b;
  --blue-color-light: #0052cc;
  --blue-color-dark: #034ab8;

  --logo-color-1: #982ff7;
  --logo-color-2: #524add;
  --logo-color-3: #6668eb;

  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
  --linkedin: #0072b1;
  --whatsapp: #25d366;
  --gmail: #ea4335;
}
