:root {
  --primary-color: #000048;
  --secondary-color: #1d1d48;
  --tertiary-color: #50c67d;
  --white: #fff;
  --white-light-1: #c2c1c1;
  --white-light-2: #cacacb;
  --white-light-3: #d3d1d2;
  --dark-dim: #4e4c51;

  --small: 1.2rem;
  --medium: 1.4rem;
  --default: 1.6rem;
  --large: 1.8rem;
  --extra-large: 1.8rem;
}
