@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';
@import './variables';
@import './mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

html,
body {
  font-family: 'League Spartan', sans-serif !important;
  font-size: 47%;
  background-color: var(--white-light-1);
  overflow-x: hidden;
  @include media-breakpoint-up(sm) {
    font-size: 62.5%;
  }
  @include media-breakpoint-up(md) {
    font-size: 62.5%;
  }
  @include media-breakpoint-up(lg) {
    font-size: 75%;
  }
  @include media-breakpoint-up(xl) {
    font-size: 80%;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 87.5%;
  }
}
