@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';
@import '../../styles/mixins';

.about {
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .heading {
    @include heading;
  }
  .container {
    display: flex;
    gap: 3rem;
    width: 100%;
    .about-me {
      flex: 2;
      font-size: 1.8rem;
      text-align: justify;
      color: var(--white-shade-2);
      a {
        color: var(--tertiary-color);
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .about {
    padding: 1.8rem;
  }
}
