@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.about {
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .heading {
    font-size: 3.6rem;
    margin-bottom: 1.8rem;
    background-image: linear-gradient(
      241deg,
      #982ff7 20%,
      #524add 56%,
      #6668eb 84%
    );
    color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
  }
  .container {
    display: flex;
    gap: 3rem;
    width: 100%;
    .about-me {
      flex: 2;
      font-size: 1.8rem;
      text-align: justify;
      color: var(--white-shade-2);
      a {
        color: var(--tertiary-color);
        text-decoration: none;
        font-weight: 500;
      }
      .known-technologies {
        ul {
          padding: 0.6rem;
          display: flex;
          flex-wrap: wrap;
          li {
            list-style: none;
            font-size: 1.6rem;
            line-height: 1.4;
            font-weight: bold;
            width: 50%;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .about {
    padding: 1.8rem;
  }
}
